.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.contact::after{
    content: '';
    background-image: url(../icon/otter.svg);
    width: 151px;
    height: 163px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
    top: 5%;
    animation: otter 4.5s infinite linear;
    z-index: -1;
}
@keyframes otter{
    0%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%{
        transform: rotate(360deg);
        transform-origin: center;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: center;
    }
}
.wrapper .contact{
    width: 600px;
    margin: 0 auto;
    
}
.wrapper .contact ul{
    width: 600px;
    margin: 50px auto;
}
.contact ul li{
    margin: 20px 0;
}
.contact input:focus, textarea:focus{
    outline: none;
}
.contact .name{
    width: 100%;
    padding: 10px;
    border: 2px solid #46714A;
    border-radius: 5px;
    box-sizing: border-box;
}
    
.contact .phone{
    width: 100%;
    padding: 10px;
    border: 2px solid #46714A;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact .email{
    width: 100%;
    padding: 10px;
    border: 2px solid #46714A;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact .problem{
    width: 100%;
    padding: 10px 5px;
    border: 2px solid #46714A;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact .textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #46714A;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact .sub{
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #46714A;
    width: auto;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 17px;
}
.contact .sub:hover{
    background-color: #C8E0C5;
    color: black;
}