footer{
    background-color: #89C681;
}
.wrapper{
    background-image: url(../background/newsbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom -10px;
}
.wrapper .list{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0; 
}
.wrapper .list li{
    width: 280px;
    height: 300px;
    border: 10px solid #649D6A; 
    margin: 25px 15px;
    border-radius: 20px;
    background-color: white;
    padding-top: 15px;
    transition: all .5s;
}
.wrapper .list li:hover{
    transform: translateY(-3%);
}
.list li a{
    display: block;
    width: 250px;
    margin: 0 auto;
    text-decoration: none;
    line-height: 1.6;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: justify;
} 
.list li:hover a{
    color:#649D6A;
}
.list li img{
    width: 100%;
    display: block;
    padding-bottom: 15px;
}
.list li p{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.list li p:last-child{
    float: right;
}
.list li p i{
    font-size: 22px;
}
.pagenu ul{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.pagenu ul li{
    text-decoration: none;
    font-weight: 700;
    padding: 5px 8px;
}
.pagenu a{
    display: block;
    color: black;
}
.pagenu .on a{
    color: white;
}
.pagenu ul a:hover{
    color: white;
}
.pagenu .on{
    background-color: #C8E0C5;
    border-radius: 50%;
    padding: 5px 8px;
    box-sizing: border-box;
}
