@media screen and (max-width: 414px){
    .wrapper{
        width: 100%;
    }
    .wrapper .contact{
        width: 100%;
    }
    .contact::after{
        background-image: url(../icon/otter.png);
        width: 81px;
        height: 85px;
        background-repeat: no-repeat;
        position: absolute;
        right: 8%;
        top: -2%;
        animation: otter 4.5s infinite linear;
        z-index: -1;
    }
    @keyframes otter{
        0%{
            transform: rotate(0deg);
            transform-origin: center;
        }
        50%{
            transform: rotate(360deg);
            transform-origin: center;
        }
        100%{
            transform: rotate(0deg);
            transform-origin: center;
        }
    }
    .wrapper .contact ul{
        width: 80%;
        margin: 25px auto;
    }
}