@media screen and (max-width: 414px) {
    header{
        background-image: url(../background/rwd_header_bg.png);
        height: 50vh;
        background-position: center bottom -30px;
    }
    .anim{
        display: none;
    }
    .scrollbtn{
        display: none;
    }
    /* 漢堡選單 */
    .menu{
        position: fixed;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #89C681;
    }
    .menu img{
        width: 30%;
        display: block;
        margin: 5px auto;
    }
    .menu .bar{
        height: 80vh;
        width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        pointer-events: none;
    }
    .menu .bar ul{
        background-color: #C8E0C5;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: calc(70vh - 40px);
        width: 51%;
        position: absolute;
        top: 64px;
        right: -51%;
        pointer-events: fill;
    }
    .menu .bar ul li{
        overflow: hidden;
        margin: 10px 0;
        border-bottom: 1px solid #649D6A;
    }
    .menu .bar li a{
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: black;
        padding: 13px;
        margin-left: 10px;
        letter-spacing: 2px;
    }
    #ham {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        transition: 0.3s;

        position: absolute;
        top: 10px;
        right: 5px;
        pointer-events: fill;
    }
    #ham span {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0;
        width: 24px;
        border: 2px solid white;
        border-radius: 24px;
        margin: -2px 0 0 -14px;
    }
    #ham.open span {
        height: 24px;
        margin: -15px 0 0 -15px;
        border-width: 3px;
    }
    #ham span:before,
    #ham span:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 28px;
        height: 4px;
        background: white;
        border-radius: 24px;
        margin: 0 0 0 -14px;
        transition: 0.3s;
    }
    #ham.open span:before,
    #ham.open span:after {
        top: 9.5px;
        width: 16px;
        margin: 0 0 0 -8px;
    }
    #ham span:before {
        top: -9px;
    } 
    #ham.open span:before {
        transform: rotate(-135deg);
    }
    #ham span:after {
        top: 5px;
    }
    #ham.open span:after {
        transform: rotate(135deg);
    }

    .topmain .mainbav{
        width: 85%;
        margin: 0 auto 25px;
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mainbav a{
        margin: 0 10px;
    }
    /* section -  news */
    .topmain .news{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
    }
    .news li{
        width: 70%;
        padding: 10px;
        margin: 15px auto;
    }
    .news li img{
        width: 100%;
        margin: 0 auto 10px;
    }
    .news li p{
        padding: 0 10px;
        line-height: 1.4;
        text-align: justify;
    }
    .news li h4{
        text-decoration: none;
        display: block;
        text-align: justify;
        line-height: 1.6;
        font-size: 18px;
        font-weight: 700;
        padding: 5px 10px;
    }
    .ani{
        display: none;
    }
    /* animals */
    .rwd_ani_swiper{
        display: block;
        padding: 40px 0;
        background-size: 110%;
        /* background-color: white; */
    }
    /* 設定 Swiper 外層容器的高度 */
    .swiper-container {
        width: 85%;
        overflow: hidden;
        /* height: 300px; */
        /* border: 1px solid red; */
        position: relative;
        margin: 20px auto;
    }
    .swiper-scrollbar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background-color: #f2f2f2;
        border-radius: 3px;
        z-index: 10;
    }
    .swiper-scrollbar-drag {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #888;
        border-radius: 3px;
    }
    .swiper-button-prev, .swiper-button-next {
        --swiper-navigation-color: #000000;
        position: absolute;
        top: 58%;
        transform: translateY(-50%);
        width: 40px;
        height: 400px;
        cursor: pointer;
        pointer-events: all;
        /* border: 3px solid #4B4127; */
    }
    .swiper-slide{
        position: relative;
    }
    .swiper-slide img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .swiper-slide h3{
        background-color: #C8E0C5;
        color: #649D6A;
        width: 150px;
        border-radius: 15px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 2px;
        padding: 5px 20px;
        box-sizing: border-box;
        position: absolute;
        right: calc(50% - 75px);
        bottom: 5px;
        cursor: default;
    }
    .swiper-slide .fam{
        padding: 25px 20px;
    }
    .swiper-button-prev::after{
        content :'\eaa7';
        font-family:'Material Icons';
        color: #89C681;
    }
    .swiper-button-next::after{
        content:'\eaaa';
        font-family:'Material Icons';
        color: #89C681;
    }
    :root{
        --swiper-navigation-size:40px;
    }
    .readmore a{
        display: block;
        width: 100px;
        background-color: #649D6A;
        color: white;
        margin: 0 auto;
        line-height: 1.6;
        text-align: center;
        padding: 8px 0; 
        border-radius: 30px;
        box-sizing: border-box;
    }  
    .service{
        padding-top: 50px;
        width: 85%;
        margin: 0 auto;
    }
    .service::after{
        background-size: 60%;
        background-position: top right;
        position: absolute;
        right: -4%;
        top: 3%;
    }
    .service .ser{
        border: 5px solid #649D6A;
        margin-top: 20px
    }
    .ser li{
        margin: 20px;
    }
    .service .ser span{
        background-image: url(../icon/120_10.svg);
        display: block;
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
}