@media screen and (max-width: 414px){
    .wrapper{
        width: 100%;
    }
    .wrapper .contact{
        width: 100%;
    }
    .wrapper .contact ul{
        width: 80%;
        margin: 25px auto;
    }
    .contact_msg .otter{
        margin-right: 30px;
    }
    .contact_msg .otter img{
        width: 100px;
    }
}